
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background: #1f242d;
}

.header {
  position: fixed;
  display:inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #13171f;
  z-index: 1000;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}
.nav-options{
  margin-left: 750px;

}
.nav-options a {
  margin-right: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
}

.nav-options a:hover,
.nav-options a.active {
  color: #0ef;
}
.sidebar{
  position: relative;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10% 0;
}
.name{
  margin-top: -15px;
  margin-bottom: -15px;
}
.sidebar-content{
  font-size: 16px;
  font-weight: 700;
  margin: -3px 0 ;
}

.home-img img{
  max-width: 220px;
}
.card{
  position: fixed;
  width: 40%;
  height: 55%;
  background-color: #13171f;
  margin-left: 8%;
  margin-top: 10%;
  border-radius: 10%;
  box-shadow: 0 0.25em 0.5em 0 rgba(4, 233, 214, 0.521),
    0 0.4em 1.25em 0 rgba(4, 238, 255, 0.274) !important;
}
section {
  margin-bottom: 40px;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  color: #0ef;
  margin: 8px 20px 20px 0;
  font-size: 18px;
  text-decoration: none;
  transition: .1s ease;

}
.social-media :hover{
  background: #0ef;
  color: #13171f;
  box-shadow: 0 0 20px #0ef;

}
.btn{
  display: inline-block;
  padding: 10px 18px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #13171f;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
}
.btn:hover{
  background: #13171f;
  color:#0ef ;
  box-shadow: 0 0 20px #0ef;
}
.main-container{
  width: 45%;
  float: right;
  padding: 50px;
  color: #fff;

}
.section-title{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
  color: #fff;
}
.about{
  padding: 20px 0;
}
span{
  color: #0ef;
}
.about-content{
  font-weight: 500;
  padding: 0 30px;
  text-align: justify;
}
.vertical-timeline-element-content {
  padding: 20px 20px !important;
  background-color:#13171f!important;
}
.vertical-timeline-element-subtitle{
  margin-top: .5em;
}
#description {
  margin: 1em 0 1.5em 0;
  font-weight: 400;
}
.date{
  margin-left: 15px;
  margin-right: 15px;
  color: #0ef;
}

.skills {
  margin-top: 40px;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #13171f;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.skill-box:hover {
  transform: translateY(-5px);
}

.skill-icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.skill-name {
  font-size: 16px;
  font-weight: bold;
}

.projects {
  margin-top: 40px;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.project-box {
  align-items: center;
  padding: 20px;
  background-color: #13171f;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}

.project-box:hover {
  transform: translateY(-10px);
}

.project-image {
  max-width: 100%;
  max-height: 150px;
  object-fit: contain;
  border-radius: 8px;
}

.project-name {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
